h1{
    color :brown;
    text-decoration:dotted;
}
body{
    color:rgb(249, 15, 15);
    background-color: black;
}
button{
    background-color: chocolate;
}
#box{
    background-color :rgb(8, 222, 69) ;
    height: 130px ;
    width: 100px ;
    border : 2px solid rgb(229, 218, 218);
}
#content {
    color :aqua;
    background-color: brown;
}